{% extends 'base.html.twig' %}

{% block title %}Listes des Pizzas{% endblock %}

{% block body %}
    <h1>Listes des Pizzas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Taille</th>
                <th>Base</th>
                <th>Prix</th>
                <th>Végétarien/Vegan</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pizza in pizzas %}
            <tr>
                <td>{{ pizza.pizzaName }}</td>
                <td>{{ pizza.pizzaSize.sizeName }}</td>
                <td>{{ pizza.pizzaBase.baseName }}</td>
                <td>{{ pizza.pizzaPrice }}</td>
                <td>{{ pizza.isVegiOrVegan }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('pizza_show', {'id': pizza.id}) }}">show</a>
                    <a class="btn btn-warning"href="{{ path('pizza_edit', {'id': pizza.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <a class="btn btn-primary" href="{{ path('pizza_new') }}">Create new</a>
{% endblock %}
