{% extends 'base.html.twig' %}

{% block title %}Pizza{% endblock %}

{% block body %}

    <table class="table">

        <thead>
            <tr>
                <th class="center big">Pizza {{ pizza.pizzaName }}</th>
                <th class="center big">{{ pizza.pizzaPrice }} €</th>
            </tr>
        </thead>
        <tbody class="center">
            <tr>
                <th>Base</th>
                <th>Taille</th>
            </tr>
            <tr>
                <td>{{ pizza.pizzaBase.baseName }}</td>
                <td>{{ pizza.pizzaSize.sizeName }}</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th>ingrédients :</th>
            </tr>
            {% for ingredient in pizza.pizzaIngredients %}
                <tr><td>{{ ingredient.ingredientName }}</td></tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="flex flex-center">
        {#    <a href="{{ path('pizza_index') }}">back to list</a>#}
        <div><a class="btn btn-warning" href="{{ path('pizza_edit', {'id': pizza.id}) }}">Modifier</a></div>

        {{ include('pizza/_delete_form.html.twig') }}

{% endblock %}
