{% extends 'base.html.twig' %}

{% block title %}Pizza{% endblock %}

{% block body %}
    <h1>Pizza</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Pizza_name</th>
                <td>{{ pizza.pizzaName }}</td>
            </tr>
            <tr>
                <th>Base</th>
                <td>{{ pizza.pizzaBase.baseName }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ pizza.pizzaSize.sizeName }}</td>
            </tr>
            <tr>
                <th colspan="2">ingrédients :</th>
            </tr>
            {% for ingredient in pizza.pizzaIngredients %}
                <tr><td>{{ ingredient.ingredientName }}</td></tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pizza_index') }}">back to list</a>

    <a href="{{ path('pizza_edit', {'id': pizza.id}) }}">edit</a>

    {{ include('pizza/_delete_form.html.twig') }}
{% endblock %}
